body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
  color: $medium-gray;
  margin: 0 0 0.25em;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $base-font-color;
  text-decoration: underline;
  text-decoration-skip: ink;

  &:active,
  &:hover {
    color: $action-color;
  }
}

strong {
  font-weight: 700;
}

@include selection {
  background-color: transparentize($action-color, 0.25);
}
