---
title: Samuel Lie, designer and developer
---
<section class="about">
  <h1>Samuel Lie, designer and developer</h1>
  <p>
    UX designer and front-end developer creating easy to use, good-looking and rememberable products and services. Currently UX designer at <%= link_to 'Föreningshuset', 'https://www.foreningshuset.se' %>.
  </p>
</section>

<section class="contact-info">
  <h1>Contact info</h1>
  <ul>
    <li><%= mail_to "hej@samuellie.se", "hej@samuellie.se" %></li>
    <li><%= link_to 'instagram: @samuellie', 'https://www.instagram.com/samuellie/' %></li>
  </ul>
</section>

<section class="projects">
  <h1>Earlier work and clients</h1>
  <ul>
    <% data.work.projects.each do |project| %>
      <li>
        <%= link_to project.client, project.url, :class => 'project', 'data-src' => project.image %>
      </li>
    <% end %>
  </ul>
</section>
